.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5%;
  color: white;
  background: transparent;
  backdrop-filter: blur(20px);
}

.navbar-container h1 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease-in;
  font-weight: 500;
}

.navbar-container h1:hover {
  color: black;
}

.navbar-link .icon {
  background-color: black;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}

.navbar-link .icon:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
